.jumbotron {
	background: #afaeae;
	color: #055011;
	margin-top: 0px;
}
svg	{
	color: #0903fe;
	
} 
body {
	background: #2E2624;
}
footer{
	color: white;
}
thead {
	color: #fff;
}
tbody{
	color: #fff;
}
.btn {
	padding: 5px;
	
}
.card-body {
	color: #000;
	margin: auto;
}
ul {
 background: ;	
}